.second {
  width: 100vw;
  .margintop {
    margin-top: 30px;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .root {
    align-items: center;
    text-align: center;
  }
}

.txt-main {
  font-size:10pt;
}

.txt-sub {
  font-size:8pt;
}

.txt_line {
  width:33.3vw;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}